.v-list {
  border-radius: 14px !important;
  background-color: 
    rgba(var(--v-theme-surface), 
    var(--v-surface-alpha));
  font-size: 16px !important;
}

.v-overlay .v-list{
  backdrop-filter: blur(30px) !important;
}
